body {
    color: red; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /* margin: 5px; */
}
input {
    background-color: #EDFAF5;
    height: 35;
    color: black;
    padding: 2px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    vertical-align: top;
    border:none;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 2px 2px 2px -2px grey,
    -2px 2px 2px -2px grey;
}
button {
    color:black;
    background-color:#EDFAF5;
    border:none;
    border-radius: 5px;
    height:35;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0px 10px;
    margin: 5px;
    box-shadow: 2px 2px 2px -2px grey,
    -2px 2px 2px -2px grey;
}
button:active{
    box-shadow: 2px 2px 2px -2px grey inset,
    -2px 2px 2px -2px grey inset;
}


/* Header */
header{
    font-family: Arial, Helvetica, sans-serif;
    margin: -9px;
    margin-bottom: 0;
    padding-top: 20px;
    background-color: #FAFAFA;
    height: 160px;
    box-shadow:1px 0 3px grey;
}
.header-main{
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.header-payment{
    color: #969494;
    float: right;
    margin-right: 10px;
    margin-top: 50px;
    font-size: 20px;
    text-decoration: none;
}
.header-contacts{
    color: #969494;
    float: right;
    margin-top: 50px;
    font-size: 20px;
    text-decoration: none;
}
.header-payment:visited{
    color:  #969494;
}
.header-contacts:visited{
    color: #969494;
}
.header-hr{
    width: auto;
    color: #4FB1A1;
    size: 2;
}

/* nav */
nav{
    padding: 0;
    margin-top: -10;
}
nav li{
    display: inline-block;
    line-height: 35px;
    
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    background-color:#EDFAF5;
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
    margin: 5;
}
nav li:active{
    box-shadow: 2px 2px 2px -2px grey inset,
    -2px 2px 2px -2px grey inset;
}
nav li a{
    text-align: right;
    padding-right: 10px;
    display: block;
    text-decoration: none;
}
nav li a:visited{
    color: inherit;
}
nav svg{
    width: 20px;
    height: 20px; 
    background-color: #EDFAF5;
    transform: translate(1px,3px);
}
/* Категории */
nav .nav-li-category{
    width: 135;
    float: left;
    margin-left: -40px;
}
nav .nav-a-category{
    width: auto;
}
nav .b-icon-category-svg{
    background: url(../images/category.svg);
}
/* Форма поиска */
nav .nav-li-search{
    width: 450px;
    background-color: #FAFAFA;
    height: 35;
    box-shadow: 0 0 0 0;
    margin-left: 200px;
}
nav .nav-li-search .input-search{
    margin: 0;
    width: 450px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
  

    padding-right: 40px;
}
nav .nav-li-search .button-search{
    width: 35px;

    background: url(../images/search.png) no-repeat 50% 50%;
    background-color: #EDFAF5;

    margin: 0;
    box-shadow: 2px 2px 3px -2px grey,
    0 0 0 0 grey;
    margin:  0 -41px; 
    padding-left: 10px;

    cursor: pointer;
}
/* Логин */
nav .nav-li-login{
    float: right;
    width: 94;
}
nav .nav-a-login{
    width: auto;
}
nav .b-icon-login-svg{
    transform: translate(3px,3px);
    background: url(../images/login.svg);
}
/* Корзина */
nav .nav-li-cart{
    width: 127;
    float: right;
}
nav .nav-a-cart{
    width: auto;
}
nav .b-icon-cart-svg{
    width: 25px;
    height: 25px; 
    transform: translate(-1px,5px);
    background: url(../images/cart.svg);
}

/* main */
main {
    max-width: 1200px;
    margin: 0 auto;
}
main .breadcrumps-list{
    margin-left: -10px;
}
main .breadcrumps-item{
display: inline-block;
}
main .breadcrumps-link{
    color: #969494;
    text-decoration: none;
    margin-left: 5px;
    font-size: 19px;
}
main .breadcrumps-link:hover{
    color: #4FB1A1;
}
main .breadcrumps-link::after{
    content: "";
    display: inline-block;
    position: relative;
    border-right: 1px solid #969494;
    border-bottom: 1px solid #969494;
    transform: rotate(-45deg);
    left: 0px;
    bottom: 1px;
    width: 6px;
    height: 6px;
    cursor: default;
}
main h1{
    color: black;
    font-size: 32px;
    margin-left: 32px;
    margin-top: -5px;
}
main .rating_star-block{
    margin-top: -20px;
    margin-left: 32px;
}
main .rating_star-svg{
    background: url(../images/rating-star.png);
    background-repeat: no-repeat;
    height: 50;
    width: 50;
}
main .product_main_container{
    padding-top: 0;
}
main .main-product_photo{
    vertical-align: top;
    max-width: 400px;
    max-height: 400px;
    margin-left: 32px;
    border: 1px solid black;
}
main .main-product_description{
    margin-left: 45px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    max-height: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
main .h2-description{
    font-size: 32px;
    margin-top: 10;
    margin-bottom: 10px;

}
main .main-p-product_description{
    padding-left: 2px;
    margin-top: 10px;
    font-size: 15;
    margin-bottom: 10px;
}
main .product_pay_container{
    display: inline-block;
    margin-left: 45px;
    width: 280;
    height: 100;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
}
main .price{
    font-size: 32;
    color:black;
    font-weight: bold;
}
main .pay-button{
    margin-top: 20px;
}

/* footer */
footer{
    margin: -1%;
    margin-top: 1%;
    height: 21%;    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0EFEF;

}
footer .footer-ul{
    max-width: 1500px;
    margin: 0 auto;
}
footer li{
    display: inline-block;
    
}
footer .footer-li-logo{
    float: left;
    width: 14.1%;
    height: 28.57%;
    margin-top: 10px;
    margin-left: -20px;
}
footer .footer-a-logo{
    width: auto;
    height: auto;
}
footer .logo-icon-svg{
    /* transform: translate(-1px,5px); */
    background: url(../images/header-logo.svg);
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}
footer .footer-li-contacts{
    width: 11%;
    color: black;
    height: 47.36%;
    margin-right: 140px;
    margin-top: 15px;
    float: right;
    line-height: 130%;
}
footer .footer-li-contacts a{
    color: #4FB1A1;
    margin-top: 20px;
}